footer{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    // border: 1px solid  red;
    div.box1{
        width: 100%;
        height: 320px;
        // border: 1px solid red;
        background-color: rgb(37, 37, 37);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div.content{
            width: 300px;
            height: 300px;
            h2{
                color: white;
                margin-top: 50px;
            }
            ul{
                float: left;
                margin-right: 10px;
                li::before{
                    content: ".";
                    color: red;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                    font-size: 20px;
                }
                li{ 
                    list-style: none;
                    color: white ;
                    font-size: 18px;
                    margin-top: 10px;
                    &:hover{
                        color: red;
                    }

                }
            }
        div.logo{
            width: 240px;
            height: 60px;
            // border: 1px solid red;
          
            margin-top: 50px;
            background-image: url(../image/logo-1.png);
            background-size: 100%;
            background-position: center;
        }
            p{
                color:white;
                margin-top: 20px;
               
            }
            div.icon{
            width: 200px;
            height: 60px; 
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 150px;
                height: 40px;
                opacity: 1;
                margin-right: 20px;
            }
            i{
                font-size: 24px;
                transition: 1s;
                &:hover{
                    color: red;
                }
            }
            }
        }
    }
    div.box2{
        width: 100%;
        height: 80px;
        background-color: red;
        box-sizing: border-box;
        padding-top: 20px;
        p{
          margin-left: 500px;
            a{
                text-decoration: none;
                font-size: 18px;
                color: white;
           
            }
        }
    }
}

@media only screen and( max-width:800px) {
    div.box1{
        height: 800px;
    }
    div.box2{
        margin-top: 990px;
        p{
            margin-left: 0%;
            a{
                margin-left: -430px
            }
        }
    }
}