  img{
      opacity: 0.4;
  }

div.carousel-caption {
    //border: 1px solid red;
    width: 500px;
    height: 600px;
    margin-bottom: 50px;
    margin-left: -150px;
    box-sizing: border-box;
    padding-left: 0%;
    button{
        width: 180px;
        height: 60px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        margin-left: -320px;
        margin-top: 20px;
    
    }
    #sp1{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: -290px;
        animation-duration: 2s;
        animation: bounce;
    }
    h3{
        font-size: 50px; 
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
        margin-left: -140px;
    }
   p{
       margin-top: 30px;
       font-size: 16px;
   }
   div.mdb{
       width: 150px;
       display: flex;
       justify-content: space-between;
       margin-left: 20px;
       align-items: center;
       margin-top: 20px;
       
       div.mini{
           width: 40px;
           height: 30px;
           border: 1px solid white;
       }
       i{font-size: 14px;}
   }
   div.logomini{
       img{
           margin-right: 10px;
       }
   }
}
img{
    z-index: 1; 
   
}
ul.gen-meta-after-excerpt{
    li{
        list-style: none;
        margin-left: -180px;
        margin-top: 20px;
        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }
    li.li2{
        font-weight: bold;
        margin-left: -200px;
        a{
            margin-right: 15px;
        }
    }
    li.li1{
        margin-left: -250px;
    }
    strong{
        color: red;
        margin-right: 20px;
    }
   
}
div.photo{
    position: absolute;
    left: 650px;
    bottom: 250px;
    width: 570px;
    height: 320px;

    margin-top: -300px;
    z-index: 4;
    background-image: url(../image/asset-1.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    div.photo_logo{
        width: 200px;
        height: 100px;
        margin-top: 100px;
        margin-left: 170px;
        box-sizing: border-box;
        padding-left: 60px;
    
        p{
            margin-top: 20px;
            color: white;
            font-size: 24px;
            margin-left: -30px;
        }
        div.play_logo{
            width: 70px;
            height: 70px;
            border-radius: 50%;
          
            &:hover{
                border: 1px solid white;
            }
            i{
                font-size: 50px;
                color: white;
                margin-left: 20px;
                margin-top: 8px;
            }
        }
    }
}
div.photo1{
    position: absolute;
    left: 650px;
    bottom: 250px;
    width: 570px;
    height: 320px;

    margin-top: -300px;
    z-index: 4;
    background-image: url(../image/asset-3.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    div.photo_logo{
        width: 200px;
        height: 100px;
        margin-top: 100px;
        margin-left: 170px;
        box-sizing: border-box;
        padding-left: 60px;
    
        p{
            margin-top: 20px;
            color: white;
            font-size: 24px;
            margin-left: -30px;
        }
        div.play_logo{
            width: 70px;
            height: 70px;
            border-radius: 50%;
          
            &:hover{
                border: 1px solid white;
            }
            i{
                font-size: 50px;
                color: white;
                margin-left: 20px;
                margin-top: 8px;
            }
        }
    }
}
div.photo2{
    position: absolute;
    left: 650px;
    bottom: 250px;
    width: 570px;
    height: 320px;

    margin-top: -300px;
    z-index: 4;
    background-image: url(../image/asset-4.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    div.photo_logo{
        width: 200px;
        height: 100px;
        margin-top: 100px;
        margin-left: 170px;
        box-sizing: border-box;
        padding-left: 60px;
    
        p{
            margin-top: 20px;
            color: white;
            font-size: 24px;
            margin-left: -30px;
        }
        div.play_logo{
            width: 70px;
            height: 70px;
            border-radius: 50%;
          
            &:hover{
                border: 1px solid white;
            }
            i{
                font-size: 50px;
                color: white;
                margin-left: 20px;
                margin-top: 8px;
            }
        }
    }
}

@media only screen and(max-width:800px) {
    div.carousel-caption{
        display: none;
    }  
    
}